@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container{
    margin: 20px;
}

.home-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.home-types-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.home-types-content{
    width: 50%;
    overflow-wrap: break-word; 
    margin: 0 auto;
    font-weight: 300;
} 

.new-properties-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 20px;
}

.agents-section{
    height: 60vh;
}

.main-navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.main-navbar ul {
    display: flex;
    gap: 50px;
}

.main-navbar ul li{
    list-style: none;
    cursor: pointer;
}

.main-navbar ul li:hover{
    color: #48A0DC;
}

.main-navbar ul button{
    cursor: pointer;
}

.btn{
    background-Color: #4fba6f;
    border: 1px solid #4fba6f;
    color:#fff;
    padding: 0 5px;
    border-radius: 2px
}

.contact-nav {
    background-color: #e8ebf3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.contact-nav ul{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.contact-nav ul li{
    font-size: 14px;
}